
:root {
    --black: #847242;
    --white: #CEC284;
}

body {
    background-color: #44444F;
    color: #DEDEDE;
    text-align: center;
}

table {
    border-collapse: collapse;
    border: 2px solid black;
    margin-right: auto;
    margin-left: auto;
}

td {
    width: 60px;
    height: 60px;
}

tr:nth-child(odd) td:nth-child(odd) {
    background-color: var(--white);
}

tr:nth-child(even) td:nth-child(even) {
    background-color: var(--white);
}

tr:nth-child(odd) td:nth-child(even) {
    background-color: var(--black);
}

tr:nth-child(even) td:nth-child(odd) {
    background-color: var(--black);
}

td.white,td.black {
    background-image: url("/static/Chess_Pieces_Sprite.svg");
    background-size: 360px 120px;
}

td.white {
    background-position-y: 0;
}


td.black {
    background-position-y: 100%;
}

td.king {
    background-position-x: 0;
}

td.pawn {
    background-position-x: 100%;
}

td.rook {
    background-position-x: 80%;
}

td.knight {
    background-position-x: 60%;
}

td.bishop {
    background-position-x: 40%;
}

td.queen {
    background-position-x: 20%;
}

td.movable::after {
    content: "";
    border-radius: 50%;
    width: 20%;
    height: 20%;
    background-color: #00000080;
    display: block;
    margin: auto;
}
